<!DOCTYPE html>
<html>

<head>
    <title>Restaurant</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpeg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }

        .background-container {
            background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpeg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            filter: blur(5px);
            width: 100%;
            height: 100%;
        }

        .table-container {
            text-align: center;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 90%; /* Increase width */
            box-sizing: border-box;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin-top: 20px;
            overflow: auto;
            max-height: 96vh; /* Set maximum height for the table container */
            position: relative;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 20px;
            text-align: left;
            font-size: 16px;
        }

        th {
            background-color: #cd762a;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e6f7ff;
        }

        tr:last-child {
            border-bottom: 2px solid #ddd;
        }

        @media screen and (max-width: 600px) {
            th,
            td {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }

            th,
            td {
                padding: 10px;
            }

            th,
            td {
                text-align: center;
            }
        }

        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pagination button {
            padding: 8px;
            cursor: pointer;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .header-buttons {
            display: flex;
            align-items: center;
        }

        .search-button {
            padding: 12px;
            background-color: #cd762a;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            margin-left: 10px;
        }

        /* Scroll buttons style */
        .scroll-button {
            position: absolute;
            top: 50%;
            right: 10px;
            background-color: #cd762a;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;
            transform: translateY(-50%);
            display: none; /* Hide initially */
        }
    </style>
</head>

<body>
    <div class="background-container"></div>
    <div class="table-container">
        <div class="header-container">
            <h1 style="margin-left: 20px;">NY Restaurants</h1>
            <div class="header-buttons">
                <a href="/restaurants/"><button class="search-button">Home</button></a>
                <a href="/restaurants/searchById"><button class="search-button" onclick="searchById()">Search by ID</button></a>
                <a href="/restaurants/cuisine"><button class="search-button" onclick="searchByCuisine()">Search by Cuisine</button></a>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Restaurant ID</th>
                    <th>Name</th>
                    <th>Building</th>
                    <th>Street</th>
                    <th>Zipcode</th>
                    <th>Borough</th>
                    <th>Cuisine</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{restaurant_id}}</td>
                    <td>{{name}}</td>
                    <td>{{address.building}}</td>
                    <td>{{address.street}}</td>
                    <td>{{address.zipcode}}</td>
                    <td>{{borough}}</td>
                    <td>{{cuisine}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="pagination">
            {{#if hasPrevPage}}
            <button onclick="window.location.href='?page={{prevPage}}&perPage={{perPage}}'" {{#unless hasPrevPage}}disabled{{/unless}}>Previous</button>
            {{else}}
            <button disabled>Previous</button>
            {{/if}}

            {{#if hasNextPage}}
            <button onclick="window.location.href='?page={{nextPage}}&perPage={{perPage}}'" {{#unless hasNextPage}}disabled{{/unless}}>Next</button>
            {{else}}
            <button disabled>Next</button>
            {{/if}}

            <button onclick="window.location.href='?page=1&perPage={{perPage}}'">First</button>
            <button onclick="window.location.href='?page={{totalPages}}&perPage={{perPage}}'">Last</button>
        </div>
    </div>

    <!-- Scroll buttons -->
    <button class="scroll-button" onclick="scrollTable('up')">▲</button>
    <button class="scroll-button" onclick="scrollTable('down')">▼</button>

    <script>
        // Function to scroll the table
        function scrollTable(direction) {
            var tableContainer = document.querySelector('.table-container');
            var scrollAmount = 100; // Adjust scroll amount as needed

            if (direction === 'up') {
                tableContainer.scrollTop -= scrollAmount;
            } else if (direction === 'down') {
                tableContainer.scrollTop += scrollAmount;
            }
        }

        // Display the scroll buttons when scrolling
        document.querySelector('.table-container').onscroll = function () {
            showScrollButtons();
        };

        function showScrollButtons() {
            var scrollButtons = document.querySelectorAll('.scroll-button');
            var tableContainer = document.querySelector('.table-container');
            var scrollTop = tableContainer.scrollTop;

            // Show or hide scroll buttons based on scroll position
            if (scrollTop > 20) {
                scrollButtons.forEach(function (button) {
                    button.style.display = 'block';
                });
            } else {
                scrollButtons.forEach(function (button) {
                    button.style.display = 'none';
                });
            }
        }
    </script>
</body>

</html>
